body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.cell {
  width: 40px;
  height: 40px;
  border: 1px solid #000000;
  margin: 1px;
}

.row {
  display: flex;
}

.food {
  background-color: #ffff00;
  height: 40px;
  width: 40px;
  background: url('./images/one.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.ten{
  background-color: #ff0000;
  height: 40px;
  width: 40px;
  background: url('./images/ten.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
}

.five{
  background-color: #2a4da5;
  height: 40px;
  width: 40px;
  background: url('./images/five.png');
  background-repeat: no-repeat;
  background-size: cover;
}



.snake {
  background-color: green;
}

.container {
  display: block;
  margin: 10px auto
}
.controller-container {
  margin: 10px auto;
  display: block;
  flex-direction: row;
}

.controller-container-bottom{
  margin: 10px auto;
  display: flex;
  flex-direction: row;
}

.arrow {
  height: 50px;
  width: 50px;
  background: url('./images/arr.png');
  background-repeat: no-repeat;
  background-size: cover;
  border: 2px solid black;
  margin: 5px;
}

.pause {
  height: 50px;
  width: 50px;
  background: url('./images/pause.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  border: 2px solid black;
  margin: 0px 70px;
}

.selected {
  -webkit-box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.86);
  -moz-box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.86);
  box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.86);
  background-color: #00ffff;
  border: 3px solid red;
}

.up {
  margin: 0px 70px;
  transform: rotate(270deg);
}

.right {
  transform: rotate(0deg);
}

.down {
  transform: rotate(90deg);
}

.left {
  transform: rotate(180deg);
}